<a href="https://colab.research.google.com/github/Parteche/Diplomado-Ciencia-De-Datos-BEDU/blob/main/Copia_de_Copia_de_Copia_de_modulo2_Michel_Pau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modulo 2 Procesamiento de datos con Python
Proyecto de Michel Acosta Trasvi√±a y Paulina Adams Arteche

Para este proyecto escogimos una base de datos de goodreads y la descargamos en formato CSV de la plataforma kaggle.

Nuestra base de datos books y contiene informacion muy interesante sobre los libros mejor calificados en el idioma ingles.

In [49]:
#Primero que nada importamos pandas, la libreria mas importante para el manejo de datos.
import pandas as pd
#importamos numpys es otra libreria que se utiliza para operaciones matematicas, aun no sabemos si la usaremos pero la descargamos por si a caso
import numpy as np

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
#Importamos la base de datos CSV
df = pd.read_csv('/content/drive/MyDrive/Books_Data_Clean.csv')

In [52]:
#Inspeccion general de nuestra base de datos, checaremos las primeras 5 filas y un resumen de la base de datos
print(df.head())
print(df.info())
print(df.describe(include='all'))
#Sirve para darle un primer vistazo a la base de datos que recien importados

   index  Publishing Year                        Book Name  \
0      0           1975.0                          Beowulf
1      1           1987.0                 Batman: Year One
2      2           2015.0                Go Set a Watchman
3      3           2008.0  When You Are Engulfed in Flames
4      4           2011.0         Daughter of Smoke & Bone

                                              Author language_code  \
0                             Unknown, Seamus Heaney         en-US
1  Frank Miller, David Mazzucchelli, Richmond Lew...           eng
2                                         Harper Lee           eng
3                                      David Sedaris         en-US
4                                       Laini Taylor           eng

  Author_Rating  Book_average_rating  Book_ratings_count          genre  \
0        Novice                 3.42              155903  genre fiction
1  Intermediate                 4.23              145267  genre fiction
2        Novice                 3.31              138669  genre fiction
3  Intermediate                 4.04              150898        fiction
4  Intermediate                 4.04              198283  genre fiction

   gross sales  publisher revenue  sale price  sales rank  \
0      34160.0            20496.0        4.88           1
1      12437.5             7462.5        1.99           2
2      47795.0            28677.0        8.69           3
3      41250.0            24750.0        7.50           3
4      37952.5            22771.5        7.99           4

                       Publisher   units sold
0        HarperCollins Publishers        7000
1        HarperCollins Publishers        6250
2  Amazon Digital Services,  Inc.        5500
3             Hachette Book Group        5500
4         Penguin Group (USA) LLC        4750
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB
None
              index  Publishing Year      Book Name        Author  \
count   1070.000000      1069.000000           1047          1070
unique          NaN              NaN           1045           735
top             NaN              NaN  The Awakening  Stephen King
freq            NaN              NaN              2            29
mean     534.500000      1971.377923            NaN           NaN
std      309.026698       185.080257            NaN           NaN
min        0.000000      -560.000000            NaN           NaN
25%      267.250000      1985.000000            NaN           NaN
50%      534.500000      2003.000000            NaN           NaN
75%      801.750000      2010.000000            NaN           NaN
max     1069.000000      2016.000000            NaN           NaN

       language_code Author_Rating  Book_average_rating  Book_ratings_count  \
count           1017          1070          1070.000000         1070.000000
unique             8             4                  NaN                 NaN
top              eng  Intermediate                  NaN                 NaN
freq             737           625                  NaN                 NaN
mean             NaN           NaN             4.007000        94909.913084
std              NaN           NaN             0.247244        31513.242518
min              NaN           NaN             2.970000        27308.000000
25%              NaN           NaN             3.850000        70398.000000
50%              NaN           NaN             4.015000        89309.000000
75%              NaN           NaN             4.170000       113906.500000
max              NaN           NaN             4.770000       206792.000000

                genre   gross sales  publisher revenue   sale price  \
count            1070   1070.000000        1070.000000  1070.000000
unique              4           NaN                NaN          NaN
top     genre fiction           NaN                NaN          NaN
freq              822           NaN                NaN          NaN
mean              NaN   1856.622944         843.281030     4.869561
std               NaN   3936.924240        2257.596743     3.559919
min               NaN    104.940000           0.000000     0.990000
25%               NaN    372.465000           0.000000     1.990000
50%               NaN    809.745000         273.078000     3.990000
75%               NaN   1487.957500         721.180500     6.990000
max               NaN  47795.000000       28677.000000    33.860000

         sales rank                      Publisher     units sold
count   1070.000000                            1070   1070.000000
unique          NaN                               9           NaN
top             NaN  Amazon Digital Services,  Inc.           NaN
freq            NaN                             600           NaN
mean     611.652336                             NaN   9676.980374
std      369.849830                             NaN  15370.571306
min        1.000000                             NaN    106.000000
25%      287.500000                             NaN    551.250000
50%      595.500000                             NaN   3924.000000
75%      932.500000                             NaN   5312.250000
max     1273.000000                             NaN  61560.000000

In [53]:
#Queremos saber que tipo de columnas tenemos:
df.dtypes

index                    int64
Publishing Year        float64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [54]:
#La columna Publishing Year (a√±o de publicacion) tiene tipo de dato float64 es decir decimal y deberia ser int64 osea entero (los a√±os siempre son numeros enteros)
#Con el metodo .astype() cambiamos el tipo de dato y con el metodo .fillna() logramos que no nos afecte
#los registros que tienen NA
df['Publishing Year'] = df['Publishing Year'].fillna(0).astype('int64')
#Checamos de nuevo nuestros tipos de datos para confirmar que si cambio el tipo de dato de la columna 'Publishing Year'
print(df.dtypes)

index                    int64
Publishing Year          int64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [55]:
#Checamos de nuevo los primeros 5 registros de nuestra base de datos
df.head()
#Ahora si la columna de 'Publishing Year' tiene un tipo de dato adecuado

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

**Breve explicacion de lo que contiene cada columna:**

**Publishing Year:** A√±o en que fue publicado el libro

**Book name:** El titulo del libro

**Author:** El nombre del autor

**Lenguage_code:** El idioma en que esta escrito el libro

**Author_Rating:** Calificacion del autor por sus obras anteriores

**Book_average_rating:** El promedio de rating calificado por los lectores

**Book_ratings_count:** El numero de ratings que los lectores dieron al libro

**genre:** El genero o categoria del libro

**gross sales:** El total de ganancias de ventas de cada libro

**publisher revenue:** Los ingresos obtenidos por los editores por la venta de cada libro

**sale price:** El precio en que se vende cada libro

**sales rank:** Valor numerico que indica la clasificacion de un libro en funcion de su rendimiento en ventas dentro de su propia categoria

**Publisher:** Editorial

**units sold:** Numero total de copias vendidas

Criterios que tomaremos en cuenta para la limpieza de nuestros datos:

In [56]:
#Datos faltantes
#Verificar valores nulos en todas las columnas:
print(df.isnull().sum())
#El resultado nos arroja que la columna 'Book Name' tiene 23 registros nulos y la columna language_code tiene 53

index                   0
Publishing Year         0
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [57]:
#Usaremos el metodo .info() para tener mas informacion sobre nuestra base de datos
df.info()
#Vemos que nuestra base de datos tiene 1070 filas y 15 columnas, por lo que valdria la pena eliminar los
#registros nulos, ya que tenemos suficientes datos para seguir trabajando

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1070 non-null   int64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 125.5+ KB

In [58]:
#Eliminando registros nulos
df.dropna(inplace=True)
#Verificamos de nuevo registros nulos
print(df.isnull().sum())
#Los resultados son favorables, cada vez tenemos una base de datos mas limpia

index                  0
Publishing Year        0
Book Name              0
Author                 0
language_code          0
Author_Rating          0
Book_average_rating    0
Book_ratings_count     0
genre                  0
gross sales            0
publisher revenue      0
sale price             0
sales rank             0
Publisher              0
units sold             0
dtype: int64

In [59]:
#Registros repetidos: Checar y eliminar filas duplicadas si es que hay
df.drop_duplicates(inplace=True)

In [60]:
#Columnas irrelevantes
#Columnas categoricas
columns_to_check_cat = ['Book Name', 'Author', 'language_code', 'Author_Rating', 'genre', 'Publisher ']

In [61]:
#Si alguna columna categorica nos da un valor igual a 1 esta se considera irrelevante, significa que todos los valores
#son iguales
unique_counts = df[columns_to_check_cat].nunique()
print(unique_counts)

Book Name        996
Author           698
language_code      8
Author_Rating      4
genre              4
Publisher          9
dtype: int64

In [62]:
#Otro criterio para eliminar datos irrelevantes es si no nos sirven para contestar nuestras preguntas, por ejemplo la columna
#language_code, todos los libros estan en ingles, no hace la diferencia esa la informacion de esa columna
#Primero exploraremos la columna language_code:
df['language_code'].value_counts()
#Podemos observar que 4 de los diferentes lenguages son el mismo solo que con error tipografico
#y los otros 4 que en total representan 9 filas son insignificantes para nuestras base de datos, por lo tanto esta columna no nos sirve realmente
#para las consultas que queremos hacer

language_code
eng      725
en-US    228
en-GB     29
en-CA      7
fre        4
spa        2
ara        2
nl         1
Name: count, dtype: int64

In [63]:
#Segundo, explorando la columna Author_Rating:
df['Author_Rating'].value_counts()
#A pesar de que son pocas categorias, si nos podrian servir para nuestras consultas y ademas ninguna se repite

Author_Rating
Intermediate    589
Excellent       333
Famous           47
Novice           29
Name: count, dtype: int64

In [64]:
#Tercero, explorando la columna genre:
df['genre'].value_counts()
#De los 4 diferentes generos que nos arroja, dos significan los mismo, en este caso vamos a unificar esos dos generos para tener solo 3 en total
#No eliminaremos esta columna por que creo que podemos necesitar estos datos

genre
genre fiction    772
nonfiction       156
fiction           55
children          15
Name: count, dtype: int64

In [65]:
#Primero hacemos un diccionario con los diferentes subniveles de genero y con el nombre final que queremos que tenga:
unificando_genero = {
    'genre fiction': 'fiction', 'fiction': 'fiction', 'nonfiction': 'no fiction', 'children': 'children'
}

#Codigo para remplazar nombres (aqui usamos el diccionario que hicimos para que reemplace los registros mal nombrados):
#Usamos en metodo de pandas .raplace(dicccionario)
df['genre'] = df['genre'].replace(unificando_genero)
print("DataFrame after replacement:")
df.head()

DataFrame after replacement:

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [66]:
#Eliminando columnas irrelevantes: language_code
#Usaremos el metodo de pandas .drop()
df = df.drop('language_code', axis=1)
df.head()

,index,Publishing Year,Book Name,Author,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [67]:
#Nos hemos dado cuenta que la columna publisher nos da error, y tiene datos irrelevantes asi que la vamos a eliminar, pero primero la examinaremos
#df['Publisher'].value_counts() no podemos verla, nos marca error
#df = df.drop('Publisher', axis=1)
#df.head()
#La columna Publisher esta maldita...
df['Publisher '].value_counts()
#Ya encontramos el error, en el nombre tiene un espacio al final que obvio no escribiamos cuando usabamos el nombre de la columna

Publisher
Amazon Digital Services,  Inc.          566
Random House LLC                        111
Penguin Group (USA) LLC                  97
HarperCollins Publishers                 65
Hachette Book Group                      56
Simon and Schuster Digital Sales Inc     55
Macmillan                                40
HarperCollins Publishing                  4
HarperCollins Christian Publishing        4
Name: count, dtype: int64

In [68]:
#Cambiando el nombre de la columna Publisher para corregir el espacio en blanco:
#Usamos el metodo .rename()
df.rename(columns={'Publisher ': 'Editorial'}, inplace=True)
df.head()

,index,Publishing Year,Book Name,Author,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Editorial,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [86]:
#Unificaremos algunos nombres repetidos de editoriales:
unificando_editorial = {
    'Random House LLC': 'Penguin Random House', 'Penguin Group (USA) LLC': 'Penguin Random House', 'Amazon Digital Services,  Inc.': 'Amazon KDP', 'Simon and Schuster Digital Sales Inc': 'Simon and Schuter',
    'HarperCollins Christian Publishing ': 'HarperCollins Publishing'
}

#Usamos en metodo de pandas .raplace(dicccionario)
df['Editorial'] = df['Editorial'].replace(unificando_editorial)
print("DataFrame after replacement:")
df.head()

DataFrame after replacement:

,index,Publishing Year,Book Name,Author,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Editorial,units sold
456,456,2011,A Monster Calls,"Patrick Ness, Jim Kay, Siobhan Dowd",Excellent,4.36,104579,fiction,1842.45,1105.470,10.65,505,Penguin Random House,4671
315,315,1950,Animal Farm & 1984,"George Orwell, Christopher Hitchens",Excellent,4.26,116197,fiction,267.30,0.000,0.99,338,Amazon KDP,270
489,489,2004,The Tale of Despereaux,"Kate DiCamillo, Timothy Basil Ering",Intermediate,4.00,113066,fiction,1153.35,692.010,6.99,541,Penguin Random House,4455
761,761,2005,'Salem's Lot The Illustrated Edition,"Stephen King, Jerry N. Uelsmann",Excellent,4.25,72797,fiction,770.24,462.144,6.64,879,Hachette Book Group,30672
156,156,2005,1776,David McCullough,Intermediate,4.06,130293,fiction,7814.40,4688.640,11.84,168,Penguin Random House,660

In [87]:
#Columnas numericas
#Para saber si una columna numerica es irrelevante checamos su desviacion estandar, si esta es igual a cero
#quiere decir que los valores en esa columna son iguales, no hay variacion de numeros, osea es irrelevante
df.describe()
#El metodo .describe() por default toma solo las columnas de valor numerico
#No hay columnas numericas con desviacion estandar igual a cero
#Los valores repetidos en las columnas numericas si pueden ser
#Nos damos cuenta que la columna Publishing Year tiene numeros negativos y esos datos no los tomaremos en cuenta para responder nuestras preguntas

,index,Publishing Year,Book_average_rating,Book_ratings_count,gross sales,publisher revenue,sale price,sales rank,units sold
count,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000
mean,529.364919,1985.137097,4.003740,95573.408266,1892.022228,851.842609,4.848216,605.477823,9770.614919
std,308.889816,56.607571,0.247256,31664.722436,4033.950983,2309.802428,3.588222,369.491465,15461.295069
min,0.000000,1308.000000,2.970000,27308.000000,104.940000,0.000000,0.990000,1.000000,106.000000
25%,262.750000,1985.000000,3.850000,70997.500000,371.127500,0.000000,1.990000,282.750000,566.250000
50%,529.500000,2003.000000,4.010000,90051.500000,812.105000,261.813000,3.990000,590.000000,3924.000000
75%,794.250000,2010.000000,4.170000,115679.500000,1496.342500,722.500500,6.990000,920.250000,5406.750000
max,1069.000000,2016.000000,4.770000,206792.000000,47795.000000,28677.000000,33.860000,1273.000000,61560.000000

In [88]:
#Limpieza de datos negativos
df = df[(df['Publishing Year'] >= 0)]
df.describe()

,index,Publishing Year,Book_average_rating,Book_ratings_count,gross sales,publisher revenue,sale price,sales rank,units sold
count,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000
mean,529.364919,1985.137097,4.003740,95573.408266,1892.022228,851.842609,4.848216,605.477823,9770.614919
std,308.889816,56.607571,0.247256,31664.722436,4033.950983,2309.802428,3.588222,369.491465,15461.295069
min,0.000000,1308.000000,2.970000,27308.000000,104.940000,0.000000,0.990000,1.000000,106.000000
25%,262.750000,1985.000000,3.850000,70997.500000,371.127500,0.000000,1.990000,282.750000,566.250000
50%,529.500000,2003.000000,4.010000,90051.500000,812.105000,261.813000,3.990000,590.000000,3924.000000
75%,794.250000,2010.000000,4.170000,115679.500000,1496.342500,722.500500,6.990000,920.250000,5406.750000
max,1069.000000,2016.000000,4.770000,206792.000000,47795.000000,28677.000000,33.860000,1273.000000,61560.000000

In [89]:
#Queremos saber los datos unicos en cada columna:
unique_values_book_name = df['Book Name'].nunique()
print(unique_values_book_name)

990

In [90]:
#Una vez teniendo la base de datos limpia, podemos hacer consultas.
# 1.-¬øCual es el libro con mayor calificacion promedio? (Book_average_rating)
book_best_rating = df.loc[df['Book_average_rating'].idxmax(),]
print(f'El libro con mayor calificacion promedio es: {book_best_rating}')

El libro con mayor calificacion promedio es: index                                       331
Publishing Year                            2014
Book Name                     Words of Radiance
Author                        Brandon Sanderson
Author_Rating                            Famous
Book_average_rating                        4.77
Book_ratings_count                        73572
genre                                   fiction
gross sales                              741.52
publisher revenue                       444.912
sale price                                 2.99
sales rank                                  354
Editorial              HarperCollins Publishers
units sold                                  248
Name: 331, dtype: object

In [91]:
#2.-Que editorial ha publicado los libros con mayor rating promedio?
#Agrupamos primero que nada las editoriales con sus respectivos libros publicados
editorial_promedio_rating = df.groupby('Editorial')['Book_average_rating'].mean()

In [92]:
#Creamos variables y usamos el metodo .max
top_editorial = editorial_promedio_rating.idxmax()
top_rating = editorial_promedio_rating.max()
print(f'La editorial con el rating promedio mas alto es {top_editorial} con {top_rating} de rating promedio en sus libros publicados')

La editorial con el rating promedio mas alto es HarperCollins Christian Publishing con 4.17 de rating promedio en sus libros publicados

In [95]:
#Observaciones de la respuesta pasada, por que sigue saliendo el nombre de: HarperCollins Christian Publishing en editoriales si unifique los nombres
#en el cuadro de codigo 86

In [94]:
#3.-Cual es el autor con mayor numero de copias vendidas?
#Agruparemos por autor y sumaremos el numero de copias vendidas
autor_copias_vendidas = df.groupby('Author')['units sold'].sum()
#Encontrar al autor con mayor numero de copias vendidas
top_autor = autor_copias_vendidas.idxmax()
top_copias_vendidas = autor_copias_vendidas.max()
print(f'El autor con mas numero de copias vendidas es {top_autor} con {top_copias_vendidas} copias vendidas')

El autor con mas numero de copias vendidas es Stephen King con 270824 copias vendidas

In [99]:
#4.-Cuantos lectores calificaron al libro con mayor rating versus al libro con menor rating?
libro_mayor_rating = df.loc[df['Book_average_rating'].idxmax()]
libro_menor_rating = df.loc[df['Book_average_rating'].idxmin()]
#Numero de lectores que calificaron
lectores_calificaron_alto = libro_mayor_rating['Book_ratings_count']
lectores_calificaron_bajo = libro_menor_rating['Book_ratings_count']
#Titulos de los libros
titulo_mayor_calificado = libro_mayor_rating['Book Name']
titulo_menor_calificado = libro_menor_rating['Book Name']
#Autores
autor_mayor_libro = libro_mayor_rating['Author']
autor_menor_libro = libro_menor_rating['Author']

print(f'El libro con la calificacion mas alta es "{titulo_mayor_calificado}" del autor "{autor_mayor_libro}" con {lectores_calificaron_alto} lectores que lo calificaron')
print(f'El libro con la calificacion mas baja es "{titulo_menor_calificado}" del autor "{autor_menor_libro}" con {lectores_calificaron_bajo} lectores que lo calificaron')

El libro con la calificacion mas alta es "Words of Radiance" del autor "Brandon Sanderson" con 73572 lectores que lo calificaron
El libro con la calificacion mas baja es "The 3 Mistakes of My Life" del autor "Chetan Bhagat" con 53331 lectores que lo calificaron

In [101]:
#5.-Cuantos libros se han publicado por decada?
#Agrupamos los a√±os de publicacion por decadas
df['decade'] = (df['Publishing Year'] // 10) * 10
#contamos el numero de libros que se publicaron en total en cada decada
libros_por_decada = df.groupby('decade').size()
print(libros_por_decada)
print(f'La decada donde se han publicado mas libros es en el 2000 con 317 libros publicados')

decade
1300      1
1390      1
1590      3
1600      3
1620      1
1660      1
1750      1
1810      2
1820      1
1830      3
1840      3
1850      8
1860      4
1870      6
1880      4
1890      9
1900     13
1910      6
1920     11
1930     15
1940     14
1950     31
1960     24
1970     43
1980     79
1990    135
2000    317
2010    253
dtype: int64
La decada donde se han publicado mas libros es en el 2000 con 317 libros publicados