<a href="https://colab.research.google.com/github/Parteche/Diplomado-Ciencia-De-Datos-BEDU/blob/main/Proyecto/modulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto Modulo 2 Procesamiendo de datos con python

La base de datos que escogimos la descargamos de kaggle, es de libros, y la escogimos por que contiene la informacion que puede contestar a la pregunta principal que nos hicimos, la cual es:

Â¿El numero de ventas de un libro es directamente proporcional al gusto de los lectores?

In [1]:
#Primero que nada importamos la libreria pandas
import pandas as pd

In [4]:
#Importamos nuestro archivo csv donde tenemos los datos de interes y lo guardamos en la variable 'df'
df = pd.read_csv('/content/drive/MyDrive/Books_Data_Clean.csv', index_col=0)
#Usamos el metodo .head() para dar un vistazo rapido de las columnas y las 5 primeras filas de la base de datos
df.head()

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
index,,,,,,,,,,,,,,
0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

Queremos conocer un poco mas nuestra base de datos, queremos saber que tipo de datos contiene por columna:

In [5]:
df.dtypes

Publishing Year        float64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

Analisis
La columna 'Publishing Year' tiene tipo de dato float64 osea decimal, y un aÃ±o no deberia ser decimal

Explicando cada columna:

**Book name:** El titulo del libro

**Author:** El nombre del autor

**Lenguage_code:** El idioma en que esta escrito el libro

**Author_Rating:** Calificacion del autor por sus obras anteriores

**Book_average_rating:** El promedio de rating calificado por los lectores

**Book_ratings_count:** El numero de ratings que los lectores dieron al libro

**genre:** El genero o categoria del libro

**gross sales:** El total de ganancias de ventas de cada libro

**publisher revenue:** Los ingresos obtenidos por los editores por la venta de cada libro

**sale price:** El precio en que se vende cada libro

**sales rank:** Valor numerico que indica la clasificacion de un libro en funcion de su rendimiento en ventas dentro de su propia categoria

**units sold:** Numero total de copias vendidas

In [6]:
df

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
index,,,,,,,,,,,,,,
0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

Chequeo de limpieza:

-Datos faltantes

-Columnas irrelevantes:

Columna categorica nivel 1 (metodo .nunique())

Columna numerica valor 1 (Metodo .describe())

Informacion redundante

-Registros repetidos

-Errores tipograficos

-Datos faltantes